{% extends 'Employer/navbar.html' %}
{% load static %}

{% block title %}
Post a Job
{% endblock %}



{% block body %}

<section>
    <div class="container mt-5">
        <div class="row mt-5">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="row">
                    <h3 style="color: rgb(0, 140, 114);">Post a Job</h3>
                </div>
                <div class="row mt-5">
                    <div class="box mt-2 mb-2" style="text-align:justify;">
                        <h6 style="color: rgb(0, 0, 0);" >Job title: <input type="text"  class="form-control "> </h6>
                        <h6 style="color: rgb(0, 0, 0);" >Company name: <input type="number"  class="form-control"></h6>
                        <h6 style="color: rgb(0, 0, 0);" >location: <input type="text"  class="form-control "> </h6>
                        <h6 style="color: rgb(0, 0, 0);" >Salary range: <input type="text"  class="form-control"> </h6>
                        <h6 style="color: rgb(0, 0, 0);" >Experience required: <input type="text"  class="form-control"> </h6>
                        <h6 style="color: rgb(0, 0, 0);" >Job type: <input type="text"  class="form-control "> </h6>
                        <h6 style="color: rgb(0, 0, 0);" >Job shift: <input type="text"  class="form-control"> </h6>
                        <h6 style="color: rgb(0, 0, 0);" >Job description: <textarea type="text"  class="form-control"></textarea> </h6>
                        <h6 style="color: rgb(0, 0, 0);" >No of openings: <input type="text"  class="form-control"> </h6>






                    </div>
                    
                </div>
                
                
                
                <div class="row mt-4">
                    <button type="button" class="btn sp mb-4 btn-sm w-25 ms-2"  id="liveAlertBtn" style="color: rgb(0, 140, 114);border: 1px solid rgb(0, 140, 114);">Post</button>
                    <div id="liveAlertPlaceholder"></div>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</section>


<hr class="mt-5">
<section id="sectionlast">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-2"></div>
      <div class="col-lg-3 col-md-3">
        <h5 class="text-title" style="color: rgb(0, 0, 0);margin-top: 50px;">Quick links</h5>
        <ul>
          <li style="color: rgb(0, 0, 0);"><a href="{% url 'home' %}" style="color: rgb(0, 0, 0);text-decoration: none;">Home</a></li>
          <li style="color: rgb(0, 0, 0);"><a href="" style="color: rgb(0, 0, 0);text-decoration: none;">Messages</a></li>
          <li style="color: rgb(0, 0, 0);"><a href="" style="color: rgb(0, 0, 0);text-decoration: none;">Notifications</a></li>
          <li style="color: rgb(0, 0, 0);"><a href="" style="color: rgb(0, 0, 0);text-decoration: none;">Profile</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3">
        <h5 class="text-title" style="color: rgb(0, 0, 0);margin-top: 50px;">Contact</h5>
        <ul>
          <li style="color: rgb(0, 0, 0);"><a href="#" style="color: rgb(0, 0, 0);text-decoration: none;"><i class="bi bi-geo m-2"></i>Banglore,India</a></li>
          <li style="color: rgb(0, 0, 0);"><a href="#" style="color: rgb(0, 0, 0);text-decoration: none;"><i class="bi bi-telephone m-2"></i>0481-0772255</a></li>
          <li style="color: rgb(0, 0, 0);"><a href="#" style="color: rgb(0, 0, 0);text-decoration: none;"><i class="bi bi-instagram m-2"></i><i class="bi bi-facebook m-2"></i><i class="bi bi-twitter m-2"></i><i class="bi bi-linkedin m-2"></i></a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3">
        <h5 class="text-title" style="color: rgb(0, 0, 0);margin-top: 50px;">Connect with Us</h5>
       
        <p style="color: rgb(0, 0, 0);"><p style="color: rgb(0, 0, 0);text-decoration: none;">Subscribe our email for <br>new job updates </p></p>
        <p style="color: rgb(0, 0, 0);">
          <nav class="navbar">
            <div class="container-fluid" style="background: transparent;">
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" style="color: rgb(0, 140, 114);border: solid 1px;" placeholder="Email" aria-label="Search">
                <button class="btn sp" type="button" style="color:rgb(0, 140, 114); border: solid 1px;">Subscribe</button>
              </form>
            </div>
            
          </nav>
        </p>
               
        
      </div>
      <div class="col-lg-1 col-md-1"></div>
    </div>
  </div>


  <div class="card-footer" style="height: 45px; background-color: rgb(245, 245, 245);">
    <p class="text-center" style="color: rgb(0, 140, 114);"><i class="fa fa-copyright"></i>JobFinder.com | All rights reserved | jobfinder@gmail.com</p>
  </div>

</section> 


<style>
    button.sp{
    transition: box-shadow 0.3s ease-in-out;
  }


  button.sp:hover{
    transform: scale(1.05);
    
    
    box-shadow: 0px 0px 10px rgb(0, 140, 114, .5);

  }

  .card1{
    transition: box-shadow 0.3s ease-in-out;
  }
    
  .card1:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgb(0, 140, 114, .5);
        
  }
  img {
  border-radius: 50%;
  }

</style>

<script>
    const alertPlaceholder = document.getElementById('liveAlertPlaceholder')
  const appendAlert = (message, type) => {
    const wrapper = document.createElement('div')
    wrapper.innerHTML = [
      `<div class="alert alert-${type} alert-dismissible" role="alert">`,
      `   <div>${message}</div>`,
      '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
      '</div>'
    ].join('')
  
    alertPlaceholder.append(wrapper)
  }
  
  const alertTrigger = document.getElementById('liveAlertBtn')
  if (alertTrigger) {
    alertTrigger.addEventListener('click', () => {
      appendAlert('Job Posted Successfully!', 'success')
    })
  }
  </script>
  

{% endblock %}