{% extends 'Employer/navbar.html' %}
{% load static %}

{% block title %}
Job Applications
{% endblock %}




{% block body %}
<section>
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <h3 class="text-center mb-5" style="color:rgb(0, 140, 114);">Applications</h3>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row mb-5">
           
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <th>No.</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone No</th>
                            <th>Address</th>
                            <th>Resume</th>
                            <th>Experience</th>
                            <th>Status</th>
                        </thead>
                        <tbody>
                            <td>1</td>
                            <td>Alex Jhonson</td>
                            <td> alex55@gmail.com</td>
                            <td>9784563212</td>
                            <td>Alappuzha, Kerala</td>
                            <td>Alexjohnson_resume.pdf</td>
                            <td>1 year</td>
                            <td>
                                <select name="" id="" class="form-select">
                                    <option value="" hidden>pending</option>
                                    <option value="">Selected</option>
                                    <option value="">Rejected</option>
                                </select>
                            </td>
                        </tbody>
                        <tbody>
                            <td>2</td>
                            <td>Alphin Thomas</td>
                            <td> alphin55@gmail.com</td>
                            <td>8784563212</td>
                            <td>Kottayam, Kerala</td>
                            <td>AlphinThomas_resume.pdf</td>
                            <td>2 year</td>
                            <td>
                                <select name="" id="" class="form-select">
                                    <option value="" hidden>pending</option>
                                    <option value="">Selected</option>
                                    <option value="">Rejected</option>
                                </select>
                            </td>
                        </tbody>
                        <tbody>
                            <td>3</td>
                            <td>Justin Thomas</td>
                            <td> justin75@gmail.com</td>
                            <td>8084563212</td>
                            <td>Thrissur, Kerala</td>
                            <td>JustinThomas_resume.pdf</td>
                            <td>1 year</td>
                            <td>
                                <select name="" id="" class="form-select">
                                    <option value="" hidden>pending</option>
                                    <option value="">Selected</option>
                                    <option value="">Rejected</option>
                                </select>
                            </td>
                        </tbody>
                        <tbody>
                            <td>4</td>
                            <td>Alen Antony</td>
                            <td> alen055@gmail.com</td>
                            <td>7784563212</td>
                            <td>Kottayam, Kerala</td>
                            <td>AlenAntony_resume.pdf</td>
                            <td>Fresher</td>
                            <td>
                                <select name="" id="" class="form-select">
                                    <option value="" hidden>pending</option>
                                    <option value="">Selected</option>
                                    <option value="">Rejected</option>
                                </select>
                            </td>
                        </tbody>
                        <tbody>
                            <td>5</td>
                            <td>Milen Antony</td>
                            <td> milen4055@gmail.com</td>
                            <td>7584563212</td>
                            <td>Palakkad, Kerala</td>
                            <td>MilenAntony_resume.pdf</td>
                            <td>Fresher</td>
                            <td>
                                <select name="" id="" class="form-select">
                                    <option value="" hidden>pending</option>
                                    <option value="">Selected</option>
                                    <option value="">Rejected</option>
                                </select>
                            </td>
                        </tbody>
                        <tbody>
                            <td>6</td>
                            <td>Vaisakh S</td>
                            <td> vaisakh4055@gmail.com</td>
                            <td>7684563212</td>
                            <td>Alappuzha, Kerala</td>
                            <td>vaisakh_resume.pdf</td>
                            <td>Fresher</td>
                            <td>
                                <select name="" id="" class="form-select">
                                    <option value="" hidden>pending</option>
                                    <option value="">Selected</option>
                                    <option value="">Rejected</option>
                                </select>
                            </td>
                        </tbody>
                        <tbody>
                            <td>7</td>
                            <td>Aju Alex</td>
                            <td> milen4055@gmail.com</td>
                            <td>7584563212</td>
                            <td>Kottayam, Kerala</td>
                            <td>Ajualex_resume.pdf</td>
                            <td>1 year</td>
                            <td>
                                <select name="" id="" class="form-select">
                                    <option value="" hidden>pending</option>
                                    <option value="">Selected</option>
                                    <option value="">Rejected</option>
                                </select>
                            </td>
                        </tbody>
                        <tbody>
                            <td>8</td>
                            <td>Sen Antony</td>
                            <td> sen4055@gmail.com</td>
                            <td>7484563212</td>
                            <td>Ernamkulam, Kerala</td>
                            <td>senAntony_resume.pdf</td>
                            <td>Fresher</td>
                            <td>
                                <select name="" id="" class="form-select">
                                    <option value="" hidden>pending</option>
                                    <option value="">Selected</option>
                                    <option value="">Rejected</option>
                                </select>
                            </td>
                        </tbody>
                        <tbody>
                            <td>9</td>
                            <td>Ajo Antony</td>
                            <td> ajo4055@gmail.com</td>
                            <td>7284563212</td>
                            <td>Kannur, Kerala</td>
                            <td>ajoantony_resume.pdf</td>
                            <td>2 year</td>
                            <td>
                                <select name="" id="" class="form-select">
                                    <option value=""hidden>pending</option>
                                    <option value="">Selected</option>
                                    <option value="">Rejected</option>
                                </select>
                            </td>
                        </tbody>
                        <tbody>
                            <td>10</td>
                            <td>AkS Adithya</td>
                            <td> adithya4055@gmail.com</td>
                            <td>7884563212</td>
                            <td>Wayanad, Kerala</td>
                            <td>aksadithya_resume.pdf</td>
                            <td>1 year</td>
                            <td>
                                <select name="" id="" class="form-select">
                                    <option value="" hidden>pending</option>
                                    <option value="">Selected</option>
                                    <option value="">Rejected</option>
                                </select>
                            </td>
                        </tbody>
                        <tbody>
                            <td>11</td>
                            <td>Justin Thomas</td>
                            <td> justin75@gmail.com</td>
                            <td>8084563212</td>
                            <td>Thrissur, Kerala</td>
                            <td>JustinThomas_resume.pdf</td>
                            <td>1 year</td>
                            <td>
                                <select name="" id="" class="form-select">
                                    <option value="" hidden>pending</option>
                                    <option value="">Selected</option>
                                    <option value="">Rejected</option>
                                </select>
                            </td>
                        </tbody>
                        <tbody>
                            <td>12</td>
                            <td>Alex Jhonson</td>
                            <td> alex55@gmail.com</td>
                            <td>9784563212</td>
                            <td>Alappuzha, Kerala</td>
                            <td>Alexjohnson_resume.pdf</td>
                            <td>1 year</td>
                            <td>
                                <select name="" id="" class="form-select">
                                    <option value="" hidden>pending</option>
                                    <option value="">Selected</option>
                                    <option value="">Rejected</option>
                                </select>
                            </td>
                        </tbody>
                        <tbody>
                            <td>13</td>
                            <td>Aju Alex</td>
                            <td> milen4055@gmail.com</td>
                            <td>7584563212</td>
                            <td>Kottayam, Kerala</td>
                            <td>Ajualex_resume.pdf</td>
                            <td>1 year</td>
                            <td>
                                <select name="" id="" class="form-select">
                                    <option value="" hidden>pending</option>
                                    <option value="">Selected</option>
                                    <option value="">Rejected</option>
                                </select>
                        
                            </td>
                        </tbody>
                        <tbody>
                            <td>14</td>
                            <td>Milen Antony</td>
                            <td> milen4055@gmail.com</td>
                            <td>7584563212</td>
                            <td>Palakkad, Kerala</td>
                            <td>MilenAntony_resume.pdf</td>
                            <td>Fresher</td>
                            <td>
                                <select name="" id="" class="form-select">
                                    <option value="" hidden>pending</option>
                                    <option value="">Selected</option>
                                    <option value="">Rejected</option>
                                </select>
                            </td>
                        </tbody> 
                        <tbody>
                            <td>15</td>
                            <td>Alphin Thomas</td>
                            <td> alphin55@gmail.com</td>
                            <td>8784563212</td>
                            <td>Kottayam, Kerala</td>
                            <td>AlphinThomas_resume.pdf</td>
                            <td>2 year</td>
                            <td>
                                <select name="" id="" class="form-select">
                                    <option value="" hidden>pending</option>
                                    <option value="">Selected</option>
                                    <option value="">Rejected</option>
                                </select>
                            </td>
                        </tbody>   
                    </table>
                </div>
            </div>
            
        </div>
    </div>
</section>


<hr class="mt-5">
<section id="sectionlast">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-2"></div>
      <div class="col-lg-3 col-md-3">
        <h5 class="text-title" style="color: rgb(0, 0, 0);margin-top: 50px;">Quick links</h5>
        <ul>
          <li style="color: rgb(0, 0, 0);"><a href="{% url 'home' %}" style="color: rgb(0, 0, 0);text-decoration: none;">Home</a></li>
          <li style="color: rgb(0, 0, 0);"><a href="" style="color: rgb(0, 0, 0);text-decoration: none;">Messages</a></li>
          <li style="color: rgb(0, 0, 0);"><a href="" style="color: rgb(0, 0, 0);text-decoration: none;">Notifications</a></li>
          <li style="color: rgb(0, 0, 0);"><a href="" style="color: rgb(0, 0, 0);text-decoration: none;">Profile</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3">
        <h5 class="text-title" style="color: rgb(0, 0, 0);margin-top: 50px;">Contact</h5>
        <ul>
          <li style="color: rgb(0, 0, 0);"><a href="#" style="color: rgb(0, 0, 0);text-decoration: none;"><i class="bi bi-geo m-2"></i>Banglore,India</a></li>
          <li style="color: rgb(0, 0, 0);"><a href="#" style="color: rgb(0, 0, 0);text-decoration: none;"><i class="bi bi-telephone m-2"></i>0481-0772255</a></li>
          <li style="color: rgb(0, 0, 0);"><a href="#" style="color: rgb(0, 0, 0);text-decoration: none;"><i class="bi bi-instagram m-2"></i><i class="bi bi-facebook m-2"></i><i class="bi bi-twitter m-2"></i><i class="bi bi-linkedin m-2"></i></a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3">
        <h5 class="text-title" style="color: rgb(0, 0, 0);margin-top: 50px;">Connect with Us</h5>
       
        <p style="color: rgb(0, 0, 0);"><p style="color: rgb(0, 0, 0);text-decoration: none;">Subscribe our email for <br>new job updates </p></p>
        <p style="color: rgb(0, 0, 0);">
          <nav class="navbar">
            <div class="container-fluid" style="background: transparent;">
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" style="color: rgb(0, 140, 114);border: solid 1px;" placeholder="Email" aria-label="Search">
                <button class="btn sp" type="button" style="color:rgb(0, 140, 114); border: solid 1px;">Subscribe</button>
              </form>
            </div>
            
          </nav>
        </p>
               
        
      </div>
      <div class="col-lg-1 col-md-1"></div>
    </div>
  </div>


  <div class="card-footer" style="height: 45px; background-color: rgb(245, 245, 245);">
    <p class="text-center" style="color: rgb(0, 140, 114);"><i class="fa fa-copyright"></i>JobFinder.com | All rights reserved | jobfinder@gmail.com</p>
  </div>

</section> 


{% endblock %}