{% extends 'Jobseeker/navbar.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}



{% block body %}
<section>
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10 mt-5 mb-5">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-4">
                        <h5 class="mt-1 mb-1">What</h5>
                        <input type="search" class="form-control w-100 mt-1 mb-1" placeholder="job title, key words or company" style="color:rgb(0, 140, 114);border: 1px solid rgb(0, 140, 114) ;">
                    </div>
                    <div class="col-lg-4">
                        <h5 class="mt-1 mb-1">Where</h5>
                        <input type="search" class="form-control w-100 mt-1 mb-1 " placeholder="Kochi, Kerala" style="color:rgb(0, 140, 114);border: 1px solid rgb(0, 140, 114) ;">
                    </div>
                    <div class="col-lg-2 mt-4"><button type="button" class="btn sp" style="color: rgb(0, 140, 114);border: 1px solid rgb(0, 140, 114); margin-top: 7px;">Find Jobs</button></div>
                    <div class="col-lg-1"></div>
                </div>
                
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</section>
<hr>
<section>
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <h6 class=" mb-3">Jobs similar to your search</h6>
            </div>
            <div class="col-lg-2"></div>
            
        </div>
        <div class="row mb-5 mt-1">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card card1 h-100  p-2 mb-2 bg-body-tertiary rounded">
                          <div class="card-body">
                            <p style="color: brown;">new</p>
                            <h5 class="card-title" style="color: rgb(0, 0, 0);">Python Developer</h5>
                            <h6 style="color: rgb(129, 129, 129);">TCS</h6>
                            <h6 style="color: rgb(129, 129, 129);">(0-2)year experience</h6>
                            <h6 style="color: rgb(129, 129, 129);">Kochi, Kerala</h6>
                            <label class="mt-1 mb-1" style="background-color: rgb(238, 238, 238);"><i class="fa fa-inr"></i>25000 - <i class="fa fa-inr"></i>35000</label>
                            <label class="mt-1 mb-1" style="background-color: rgb(228, 255, 224)"><i class="fa fa-briefcase"></i> Full Time</label><br>
                            <label class="mt-1 mb-1" style="background-color: rgb(238,238,238);"><i class="fa fa-clock"></i>Day Shift</label><br>
                            <a href="{% url 'jobdetails' %}"><button class="btn btn-sm mt-lg-2 mb-0 " type="button" style="color:rgb(0, 140, 114);" >Apply now</button></a>
                            
                          </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card1 h-100  p-2 mb-2 bg-body-tertiary rounded">
                          <div class="card-body">
                            <p style="color: brown;">new</p>
                            <h5 class="card-title" style="color: rgb(0, 0, 0);">Java Developer</h5>
                            <h6 style="color: rgb(129, 129, 129);">Amazon</h6>
                            <h6 style="color: rgb(129, 129, 129);">(0-1)year experience</h6>
                            <h6 style="color: rgb(129, 129, 129);">Kochi, Kerala</h6>
                            <label class="mt-1 mb-1" style="background-color: rgb(238, 238, 238);"><i class="fa fa-inr"></i>25000 - <i class="fa fa-inr"></i>35000</label>
                            <label class="mt-1 mb-1" style="background-color: rgb(228, 255, 224);"><i class="fa fa-briefcase"></i> Remote</label><br>
                            <label class="mt-1 mb-1" style="background-color: rgb(238,238,238);"><i class="fa fa-clock"></i> Day Shift</label><br>
                            <a href=""><button class="btn btn-sm mt-lg-2 mb-0 " type="button" style="color:rgb(0, 140, 114);" >Apply now</button></a>
                            
                          </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card1 h-100  p-2 mb-2 bg-body-tertiary rounded">
                          <div class="card-body">
                            <p style="color: brown;">new</p>
                            <h5 class="card-title" style="color: rgb(0, 0, 0);">Python Internship</h5>
                            <h6 style="color: rgb(129, 129, 129);">Wipro</h6>
                            <h6 style="color: rgb(129, 129, 129);">Freshers</h6>
                            <h6 style="color: rgb(129, 129, 129);">Kochi, Kerala</h6>
                            <label class="mt-1 mb-1" style="background-color: rgb(238, 238, 238);"><i class="fa fa-inr"></i>10000 - <i class="fa fa-inr"></i>15000</label>
                            <label class="mt-1 mb-1" style="background-color: rgb(228, 255, 224);"><i class="fa fa-briefcase"></i> Full Time</label><br>
                            <label class="mt-1 mb-1" style="background-color: rgb(238,238,238);"><i class="fa fa-clock"></i> Day Shift</label><br>
                            <a href=""><button class="btn btn-sm mt-lg-2 mb-0 " type="button" style="color:rgb(0, 140, 114);" >Apply now</button></a>
                            
                          </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card1 h-100  p-2 mb-2 bg-body-tertiary rounded">
                          <div class="card-body">
                            <p style="color: brown;">new</p>
                            <h5 class="card-title" style="color: rgb(0, 0, 0);">Junior Software Developer</h5>
                            <h6 style="color: rgb(129, 129, 129);">Infosys</h6>
                            <h6 style="color: rgb(129, 129, 129);">(0-1)year experience</h6>
                            <h6 style="color: rgb(129, 129, 129);">Kochi, Kerala</h6>
                            <label class="mt-1 mb-1" style="background-color: rgb(238, 238, 238);"><i class="fa fa-inr"></i>25000 - <i class="fa fa-inr"></i>30000</label>
                            <label class="mt-1 mb-1" style="background-color: rgb(228, 255, 224);"><i class="fa fa-briefcase"></i> Full Time</label><br>
                            <label class="mt-1 mb-1" style="background-color: rgb(238,238,238);"><i class="fa fa-clock"></i> Day Shift</label><br>
                            <a href=""><button class="btn btn-sm mt-lg-2 mb-0 " type="button" style="color:rgb(0, 140, 114);" >Apply now</button></a>
                            
                          </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card1 h-100  p-2 mb-2 bg-body-tertiary rounded">
                          <div class="card-body">
                            <p style="color: brown;">new</p>
                            <h5 class="card-title" style="color: rgb(0, 0, 0);">Python Full Stack Developer</h5>
                            <h6 style="color: rgb(129, 129, 129);">IBM</h6>
                            <h6 style="color: rgb(129, 129, 129);">(0-2)year experience</h6>
                            <h6 style="color: rgb(129, 129, 129);">Kochi, Kerala</h6>
                            <label class="mt-1 mb-1" style="background-color: rgb(238, 238, 238);"><i class="fa fa-inr"></i>25000 - <i class="fa fa-inr"></i>35000</label>
                            <label class="mt-1 mb-1" style="background-color: rgb(228, 255, 224);"><i class="fa fa-briefcase"></i> Full Time</label><br>
                            <label class="mt-1 mb-1" style="background-color: rgb(238,238,238);"><i class="fa fa-clock"></i> Day Shift</label><br>
                            <a href=""><button class="btn btn-sm mt-lg-2 mb-0 " type="button" style="color:rgb(0, 140, 114);" >Apply now</button></a>
                            
                          </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card1 h-100  p-2 mb-2 bg-body-tertiary rounded">
                          <div class="card-body">
                            <p style="color: brown;">new</p>
                            <h5 class="card-title" style="color: rgb(0, 0, 0);">Python/Django Developer</h5>
                            <h6 style="color: rgb(129, 129, 129);">Microsoft</h6>
                            <h6 style="color: rgb(129, 129, 129);">(0-2)year experience</h6>
                            <h6 style="color: rgb(129, 129, 129);">Kochi, Kerala</h6>
                            <label class="mt-1 mb-1" style="background-color: rgb(238, 238, 238);"><i class="fa fa-inr"></i>25000 - <i class="fa fa-inr"></i>35000</label>
                            <label class="mt-1 mb-1" style="background-color: rgb(228, 255, 224);"><i class="fa fa-briefcase"></i> Remote</label><br>
                            <label class="mt-1 mb-1" style="background-color: rgb(238,238,238);"><i class="fa fa-clock"></i> Day Shift</label><br>
                            <a href=""><button class="btn btn-sm mt-lg-2 mb-0 " type="button" style="color:rgb(0, 140, 114);" >Apply now</button></a>
                            
                          </div>
                        </div>
                    </div>
                    
                    
                    
                    
                   
                </div>
            </div>
            <div class="col-lg-2"></div>
        
        </div>
        <div class="row">
            <center><a href="{% url 'alljobs' %}"><button type="button" class="btn sp mb-5" style="color: rgb(0, 140, 114);border: 1px solid rgb(0, 140, 114);">More Jobs</button></a></center>
        </div>

    </div>
</section>


<section>
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <h6 class=" mb-3">Current openings</h6>
            </div>
            <div class="col-lg-2"></div>
            
        </div>
        <div class="row mb-5 mt-1">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card card1 h-100  p-2 mb-2 bg-body-tertiary rounded">
                          <div class="card-body">
                            <p style="color: brown;">new</p>
                            <h5 class="card-title" style="color: rgb(0, 0, 0);">Junior Software Developer</h5>
                            <h6 style="color: rgb(129, 129, 129);">Wipro</h6>
                            <h6 style="color: rgb(129, 129, 129);">(0-1)year experience</h6>
                            <h6 style="color: rgb(129, 129, 129);">Banglore, India</h6>
                            <label class="mt-1 mb-1" style="background-color: rgb(238, 238, 238);"><i class="fa fa-inr"></i>25000 - <i class="fa fa-inr"></i>30000</label>
                            <label class="mt-1 mb-1" style="background-color: rgb(228, 255, 224);"><i class="fa fa-briefcase"></i> Full Time</label><br>
                            <label class="mt-1 mb-1" style="background-color: rgb(238,238,238);"><i class="fa fa-clock"></i> Day Shift</label><br>
                            <a href=""><button class="btn btn-sm mt-lg-2 mb-0 " type="button" style="color:rgb(0, 140, 114);" >Apply now</button></a>
                            
                          </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card1 h-100  p-2 mb-2 bg-body-tertiary rounded">
                          <div class="card-body">
                            <p style="color: brown;">new</p>
                            <h5 class="card-title" style="color: rgb(0, 0, 0);">Associate Software Developer</h5>
                            <h6 style="color: rgb(129, 129, 129);">Amazon</h6>
                            <h6 style="color: rgb(129, 129, 129);">(0-2)year experience</h6>
                            <h6 style="color: rgb(129, 129, 129);">Chennai, India</h6>
                            <label class="mt-1 mb-1" style="background-color: rgb(238, 238, 238);"><i class="fa fa-inr"></i>25000 - <i class="fa fa-inr"></i>30000</label>
                            <label class="mt-1 mb-1" style="background-color: rgb(228, 255, 224);"><i class="fa fa-briefcase"></i> Part Time</label><br>
                            <label class="mt-1 mb-1" style="background-color: rgb(238,238,238);"><i class="fa fa-clock"></i> Day Shift</label><br>
                            <a href=""><button class="btn btn-sm mt-lg-2 mb-0 " type="button" style="color:rgb(0, 140, 114);" >Apply now</button></a>
                            
                          </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card1 h-100  p-2 mb-2 bg-body-tertiary rounded">
                          <div class="card-body">
                            <p style="color: brown;">new</p>
                            <h5 class="card-title" style="color: rgb(0, 0, 0);">Associate Software Engineer</h5>
                            <h6 style="color: rgb(129, 129, 129);">IBM</h6>
                            <h6 style="color: rgb(129, 129, 129);">(0-1)year experience</h6>
                            <h6 style="color: rgb(129, 129, 129);">Banglore, India</h6>
                            <label class="mt-1 mb-1" style="background-color: rgb(238, 238, 238);"><i class="fa fa-inr"></i>25000 - <i class="fa fa-inr"></i>30000</label>
                            <label class="mt-1 mb-1" style="background-color: rgb(228, 255, 224);"><i class="fa fa-briefcase"></i> Full Time</label><br>
                            <label class="mt-1 mb-1" style="background-color: rgb(238,238,238);"><i class="fa fa-clock"></i> Day Shift</label><br>
                            <a href=""><button class="btn btn-sm mt-lg-2 mb-0 " type="button" style="color:rgb(0, 140, 114);" >Apply now</button></a>
                            
                          </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card1 h-100  p-2 mb-2 bg-body-tertiary rounded">
                          <div class="card-body">
                            <p style="color: brown;">new</p>
                            <h5 class="card-title" style="color: rgb(0, 0, 0);">Flutter Developer</h5>
                            <h6 style="color: rgb(129, 129, 129);">Infosys</h6>
                            <h6 style="color: rgb(129, 129, 129);">(0-1)year experience</h6>
                            <h6 style="color: rgb(129, 129, 129);">Kerala, India</h6>
                            <label class="mt-1 mb-1" style="background-color: rgb(238, 238, 238);"><i class="fa fa-inr"></i>25000 - <i class="fa fa-inr"></i>30000</label>
                            <label class="mt-1 mb-1" style="background-color: rgb(228, 255, 224);"><i class="fa fa-briefcase"></i> Full Time</label><br>
                            <label class="mt-1 mb-1" style="background-color: rgb(238,238,238);"><i class="fa fa-clock"></i> Day Shift</label><br>
                            <a href=""><button class="btn btn-sm mt-lg-2 mb-0 " type="button" style="color:rgb(0, 140, 114);" >Apply now</button></a>
                            
                          </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card1 h-100  p-2 mb-2 bg-body-tertiary rounded">
                          <div class="card-body">
                            <p style="color: brown;">new</p>
                            <h5 class="card-title" style="color: rgb(0, 0, 0);">Java Developer</h5>
                            <h6 style="color: rgb(129, 129, 129);">Microsoft</h6>
                            <h6 style="color: rgb(129, 129, 129);">Freshers</h6>
                            <h6 style="color: rgb(129, 129, 129);">Banglore, India</h6>
                            <label class="mt-1 mb-1" style="background-color: rgb(238, 238, 238);"><i class="fa fa-inr"></i>20000 - <i class="fa fa-inr"></i>30000</label>
                            <label class="mt-1 mb-1" style="background-color: rgb(228, 255, 224);"><i class="fa fa-briefcase"></i> Remote</label><br>
                            <label class="mt-1 mb-1" style="background-color: rgb(238,238,238);"><i class="fa fa-clock"></i> Day Shift</label><br>
                            <a href=""><button class="btn btn-sm mt-lg-2 mb-0 " type="button" style="color:rgb(0, 140, 114);" >Apply now</button></a>
                            
                          </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card1 h-100  p-2 mb-2 bg-body-tertiary rounded">
                          <div class="card-body">
                            <p style="color: brown;">new</p>
                            <h5 class="card-title" style="color: rgb(0, 0, 0);">Python Developer</h5>
                            <h6 style="color: rgb(129, 129, 129);">TCS</h6>
                            <h6 style="color: rgb(129, 129, 129);">(0-2)year experience</h6>
                            <h6 style="color: rgb(129, 129, 129);">Kochi, Kerala</h6>
                            <label class="mt-1 mb-1" style="background-color: rgb(238, 238, 238);"><i class="fa fa-inr"></i>25000 - <i class="fa fa-inr"></i>35000</label>
                            <label class="mt-1 mb-1" style="background-color: rgb(228, 255, 224);"><i class="fa fa-briefcase"></i> Full Time</label><br>
                            <label class="mt-1 mb-1" style="background-color: rgb(238,238,238);"><i class="fa fa-clock"></i> Day Shift</label><br>
                            <a href="{% url 'jobdetails' %}"><button class="btn btn-sm mt-lg-2 mb-0 " type="button" style="color:rgb(0, 140, 114);" >Apply now</button></a>
                            
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>


        </div>
        <div class="row">
            <center><a href="{% url 'alljobs' %}"><button type="button" class="btn sp mb-5" style="color: rgb(0, 140, 114);border: 1px solid rgb(0, 140, 114);">More Jobs</button></a></center>
        </div>
    </div>

</section>

<hr class="mt-5">
<section id="sectionlast">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-2"></div>
      <div class="col-lg-3 col-md-3">
        <h5 class="text-title" style="color: rgb(0, 0, 0);margin-top: 50px;">Quick links</h5>
        <ul>
          <li style="color: rgb(0, 0, 0);"><a href="{% url 'home' %}" style="color: rgb(0, 0, 0);text-decoration: none;">Home</a></li>
          <li style="color: rgb(0, 0, 0);"><a href="" style="color: rgb(0, 0, 0);text-decoration: none;">Messages</a></li>
          <li style="color: rgb(0, 0, 0);"><a href="" style="color: rgb(0, 0, 0);text-decoration: none;">Notifications</a></li>
          <li style="color: rgb(0, 0, 0);"><a href="" style="color: rgb(0, 0, 0);text-decoration: none;">Profile</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3">
        <h5 class="text-title" style="color: rgb(0, 0, 0);margin-top: 50px;">Contact</h5>
        <ul>
          <li style="color: rgb(0, 0, 0);"><a href="#" style="color: rgb(0, 0, 0);text-decoration: none;"><i class="bi bi-geo m-2"></i>Banglore,India</a></li>
          <li style="color: rgb(0, 0, 0);"><a href="#" style="color: rgb(0, 0, 0);text-decoration: none;"><i class="bi bi-telephone m-2"></i>0481-0772255</a></li>
          <li style="color: rgb(0, 0, 0);"><a href="#" style="color: rgb(0, 0, 0);text-decoration: none;"><i class="bi bi-instagram m-2"></i><i class="bi bi-facebook m-2"></i><i class="bi bi-twitter m-2"></i><i class="bi bi-linkedin m-2"></i></a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3">
        <h5 class="text-title" style="color: rgb(0, 0, 0);margin-top: 50px;">Connect with Us</h5>
       
        <p style="color: rgb(0, 0, 0);"><p style="color: rgb(0, 0, 0);text-decoration: none;">Subscribe our email for <br>new job updates </p></p>
        <p style="color: rgb(0, 0, 0);">
          <nav class="navbar">
            <div class="container-fluid" style="background: transparent;">
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" style="color: rgb(0, 140, 114);border: solid 1px;" placeholder="Email" aria-label="Search">
                <button class="btn sp" type="button" style="color:rgb(0, 140, 114); border: solid 1px;">Subscribe</button>
              </form>
            </div>
            
          </nav>
        </p>
               
        
      </div>
      <div class="col-lg-1 col-md-1"></div>
    </div>
  </div>


  <div class="card-footer" style="height: 45px; background-color: rgb(245, 245, 245);">
    <p class="text-center" style="color: rgb(0, 140, 114);"><i class="fa fa-copyright"></i>JobFinder.com | All rights reserved | jobfinder@gmail.com</p>
  </div>

</section> 





<style>
    button.sp{
    transition: box-shadow 0.3s ease-in-out;
  }


  button.sp:hover{
    transform: scale(1.05);
    
    
    box-shadow: 0px 0px 10px rgb(0, 140, 114, .5);

  }

  .card1{
    transition: box-shadow 0.3s ease-in-out;
  }
    
  .card1:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgb(0, 140, 114, .5);
        
  }
</style>
{% endblock %}