{% extends 'Jobseeker/navbar.html' %}
{% load static %}

{% block title %}
Job details
{% endblock %}



{% block body %}

<section>
    <div class="container">
        
        <div class="row mt-3">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="row mt-3">
                    <div class="col-lg-8">
                        <h3 class="mt-4" style="color: rgb(0, 0, 0);">Python Developer</h3>
                        <p class="d-inline-block mt-3" style="color: rgb(123, 123, 123);">Posted on: 6 June,2023 |</p>
                        <p class="d-inline-block" style="color: rgb(123, 123, 123);">Exp: 0-2 Years</p>
                        <p style="color: rgb(129, 129, 129);">TCS</p>
                        <p style="color: rgb(129, 129, 129);">Kochi, Kerala</p>
                        <label class="mt-1 mb-1" style="background-color: rgb(255, 255, 255);"><i class="fa fa-inr"></i>25000 - <i class="fa fa-inr"></i>35000 a month</label>

                        
                    </div>
                    
                    <div class="col-lg-4">
                        <div class="row  mt-4">
                          <center><button class="btn sp mb-3 w-50" type="button" style="color: rgb(0, 140, 114); border: solid 1px;" id="liveAlertBtn" >Apply</button></center>

                          <div id="liveAlertPlaceholder"></div>
                          <!-- <button type="button" class="btn btn-primary" id="liveAlertBtn">Show live alert</button> -->
                           

                        </div>

                    </div>
                </div>
                <hr>
            </div>
            
            <div class="col-lg-2"></div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="row">
                    <h5>Job Details</h5>
                </div>
                <div class="row">
                    <p class=""><i class="fa  fa-money-bill-alt"></i> Salary</p>
                    <p class="ms-4"><label class="mt-1 mb-1" style="background-color: rgb(238, 238, 238);"><i class="fa fa-inr"></i>25000 - <i class="fa fa-inr"></i>35000 a month</label>
                    </p>
                </div>
                <div class="row">
                    <p class=""><i class="fa  fa-briefcase"></i> Job Type</p>
                    <p class="ms-4"><label class="mt-1 mb-1" style="background-color: rgb(214, 255, 208);"> Full Time</label>

                    </p>
                </div>
                <div class="row">
                    <p class=""><i class="fa  fa-clock"></i> Shift and Schedule</p>
                    <p class="ms-4"><label class="mt-1 mb-1" style="background-color: rgb(238,238,238);">Day Shift</label>
                    </p>
                </div>
                <hr>
            </div>
            <div class="col-lg-2"></div>
            
        </div>

        <div class="row ms-2">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="row">
                    <h5>Full Job Description</h5>
                    <p style="text-align: justify;">
                        We are looking for a Python Web Developer responsible for managing the interchange of data 
                        between the server and the users. Your primary focus will be the development of all server-side logic, 
                        ensuring high performance and responsiveness to requests from the front-end. You will also be responsible 
                        for integrating the front-end elements built by your co-workers into the application; therefore, 
                        a basic understanding of front-end technologies is necessary as well.
                    </p>
                </div>
                <div class="row">
                    <h5>Key Responsibilities</h5>
                    <p style="text-align: justify;">
                        <ul  style="text-align: justify;">
                            <li>Develop and maintain web applications using Django/FastAPI.</li>
                            <li>Write clean, efficient, and well-documented code.</li>
                            <li>Implement database solutions using SQL and no-SQL.</li>
                            <li>Work with data structures and algorithms to solve complex problems.</li>
                            <li>Collaborate with cross-functional teams to define, design, and ship new features.</li>
                            <li>Participate in code reviews and contribute to the improvement of software development processes.</li>
                        </ul>
                    </p>
                </div>
                <div class="row">
                    <h5>Qualification / Requirement</h5>
                    <p style="text-align: justify;">
                        <ul  style="text-align: justify;">
                            <li>Desired Candidate Profile: B.Tech / B.E. / MCA / BCA</li>
                            <li>Strong experience with Django or FastAPI.</li>
                            <li>Strong understanding of SQL and No-SQL.</li>
                            <li>Experience with version control tools.</li>
                            <li>Strong knowledge of data structures and algorithms.</li>
                            <li>Good problem-solving and analytical skills.</li>
                            <li>Good communication and interpersonal skills.</li>
                            <li>Understanding of agile software development methodologies.</li>
                            <li>Bachelor’s degree in Computer Science or related field.</li>
                        </ul>
                    </p>
                </div>
                <hr>
                <div class="row">
                    <h5>Hiring Insights</h5>
                    <p style="color: rgb(123, 123, 123);"><i class="fa fa-user"></i> Hiring 10+ candidates for this role.</p>

                </div>
                
            </div>
            
            <div class="col-lg-2"></div>
        </div>
    </div>
</section>

<hr class="mt-5">
<section id="sectionlast">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-2"></div>
      <div class="col-lg-3 col-md-3">
        <h5 class="text-title" style="color: rgb(0, 0, 0);margin-top: 50px;">Quick links</h5>
        <ul>
          <li style="color: rgb(0, 0, 0);"><a href="{% url 'home' %}" style="color: rgb(0, 0, 0);text-decoration: none;">Home</a></li>
          <li style="color: rgb(0, 0, 0);"><a href="" style="color: rgb(0, 0, 0);text-decoration: none;">Messages</a></li>
          <li style="color: rgb(0, 0, 0);"><a href="" style="color: rgb(0, 0, 0);text-decoration: none;">Notifications</a></li>
          <li style="color: rgb(0, 0, 0);"><a href="" style="color: rgb(0, 0, 0);text-decoration: none;">Profile</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3">
        <h5 class="text-title" style="color: rgb(0, 0, 0);margin-top: 50px;">Contact</h5>
        <ul>
          <li style="color: rgb(0, 0, 0);"><a href="#" style="color: rgb(0, 0, 0);text-decoration: none;">1st Floor - Thapasya Building
            Kakkanad, Cochin</a></li>
          <li style="color: rgb(0, 0, 0);"><a href="#" style="color: rgb(0, 0, 0);text-decoration: none;">Phone: +91 974 663 2202</a></li>
          <li style="color: rgb(0, 0, 0);"><a href="#" style="color: rgb(0, 0, 0);text-decoration: none;">Email: Info@Altostechnologies.In</a></li>
          <li style="color: rgb(0, 0, 0);"><a href="#" style="color: rgb(0, 0, 0);text-decoration: none;"><i class="bi bi-instagram m-2"></i><i class="bi bi-facebook m-2"></i><i class="bi bi-twitter m-2"></i><i class="bi bi-linkedin m-2"></i></a></li>

        </ul>
      </div>
      <div class="col-lg-3 col-md-3">
        <h5 class="text-title" style="color: rgb(0, 0, 0);margin-top: 50px;">Connect with Us</h5>
       
        <p style="color: rgb(0, 0, 0);"><p style="color: rgb(0, 0, 0);text-decoration: none;">Subscribe our email for <br>new job updates </p></p>
        <p style="color: rgb(0, 0, 0);">
          <nav class="navbar">
            <div class="container-fluid" style="background: transparent;">
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" style="color: rgb(0, 140, 114);border: solid 1px;" placeholder="Email" aria-label="Search">
                <button class="btn sp" type="button" style="color:rgb(0, 140, 114); border: solid 1px;">Subscribe</button>
              </form>
            </div>
            
          </nav>
        </p>
               
        
      </div>
      <div class="col-lg-1 col-md-1"></div>
    </div>
  </div>


  <div class="card-footer" style="height: 45px; background-color: rgb(245, 245, 245);">
    <p class="text-center" style="color: rgb(0, 140, 114);"><i class="fa fa-copyright"></i>JobFinder.com | All rights reserved | jobfinder@gmail.com</p>
  </div>

</section> 


<style>
    button.sp{
    transition: box-shadow 0.3s ease-in-out;
  }


  button.sp:hover{
    transform: scale(1.05);
    
    
    box-shadow: 0px 0px 10px rgb(0, 140, 114, .5);

  }

  .card1{
    transition: box-shadow 0.3s ease-in-out;
  }
    
  .card1:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgb(0, 140, 114, .5);
        
  }
</style>

<script>
  const alertPlaceholder = document.getElementById('liveAlertPlaceholder')
const appendAlert = (message, type) => {
  const wrapper = document.createElement('div')
  wrapper.innerHTML = [
    `<div class="alert alert-${type} alert-dismissible" role="alert">`,
    `   <div>${message}</div>`,
    '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
    '</div>'
  ].join('')

  alertPlaceholder.append(wrapper)
}

const alertTrigger = document.getElementById('liveAlertBtn')
if (alertTrigger) {
  alertTrigger.addEventListener('click', () => {
    appendAlert('Applied Successfully!', 'success')
  })
}
</script>
{% endblock %}
